Repository piechiang/Texas-Holder: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, comprehensive-tests

pytest:
  name: pytest
  entry: python -m pytest
  language: python
  pass_filenames: false
  always_run: false

comprehensive-tests:
  name: comprehensive-tests
  entry: python test_comprehensive.py
  language: python
  pass_filenames: false

Initial Tarot app upload
  api/index.py
  vercel.json
Due: comprehensive-tests

Initial Tarot app upload
  vercel.json
Due: none

Initial Tarot app upload
  requirements-prod.txt
Due: none

Initial Texas app upload
  ENUMERATION_AUTO_FEATURES.md
  EV_CALCULATOR_FEATURES.md
  MONTE_CARLO_CI_FEATURES.md
  RANGE_PARSER_FEATURES.md
  demo_enumeration_auto.py
  demo_ev_analysis.py
  demo_monte_carlo_ci.py
  demo_ranges.py
  src/__init__.py
  src/core/__init__.py
  src/core/dispatcher.py
  src/core/enumeration.py
  src/core/equity_result.py
  src/core/monte_carlo.py
  src/core/rng.py
  src/product/__init__.py
  src/product/cli.py
  src/product/cli_ev.py
  src/product/cli_ranges.py
  src/strategy/__init__.py
  src/strategy/ev_calculator.py
  src/strategy/ranges.py
  test_enumeration_auto.py
  test_ev_calculator.py
  test_monte_carlo_ci.py
  test_ranges.py
  test_ranges_cli.py
Due: pytest, comprehensive-tests

Initial Texas app upload
  OPTIMIZATION_SUMMARY.md
  PERFORMANCE_IMPROVEMENTS.md
  demo_enhanced_performance.py
  quick_demo_improvements.py
  requirements-enhanced.txt
  src/core/enhanced_calculator.py
  src/core/exact_enumeration.py
  src/core/numba_evaluator.py
  src/core/vectorized_monte_carlo.py
  test_core_functionality.py
  tests/test_accuracy_regression.py
  tests/test_performance_benchmarks.py
Due: pytest, comprehensive-tests

Initial Texas app upload
  .github/workflows/ci.yml
  IMPLEMENTATION_SUMMARY.md
  README.md
  README_UPDATED.md
  api/index.py
  pyproject.toml
  src/api/calculator_service.py
  src/product/cli.py
  web_app.py
Due: comprehensive-tests

Path conditions:
  pytest: any of: test_.*\.py$
  comprehensive-tests: any of: \.py$
